.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
    height: calc(100vh - 60px - 140px);
    padding-left: 10px;
    padding-right: 10px;
}

.container > h1{
    font-size: 35px;
    font-weight: 600;
    padding-bottom: 30px;
    text-align: center;
}

.container > p{
    text-align: center;
    font-size: 20px;
}